.tweet[data-component-context="suggest_activity_tweet"],
.tweet[data-promoted="true"],
.tweet[data-component-context="suggest_recycled_tweet_inline"],
.dashboard-left,
.dashboard-right
{
  display:none;
}

.content-main {
    float: none !important;
    margin: 0 auto !important;
}
